@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

:root{
    --primary: rgb(12, 98, 211);
    --secondary: rgb(30, 219, 252);
    --hover: rgb(4, 74, 165);
}

/* Universal Styling */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    padding-bottom: 30px;
    border: 2px solid blue;
}

.heading{
    font-size: 3.5rem;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 15px;
}

.stripe{
    height: 200px;
    background-image: linear-gradient(to right, var(--secondary), var(--primary));
}

.btn{
    padding: 10px 20px;
    font-size: 1.1rem;
    color: white;
    border: none;
    background-color: var(--primary);
    border-radius: 3px;
}

.btn:hover{
    cursor: pointer;
    background-color: var(--hover);
}

/* About Me Section */

.top-stripe{
    position: relative;
    margin-bottom: 80px;
}

.top-stripe > img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.about .text{
    text-align: center;
    width: 60%;
    max-width: 800px;
    margin: auto;
}

.about .text h1{
    font-size: 2.25rem;
}

.about .text p{
    font-size: 1.2rem;
}

/* Graphics Section */

.graphics{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.graphics > img{
    width: 70%;
    height: auto;
}

/* Skills Section */

.skills{
    text-align: center;
}

.skills .container{
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-evenly;
    gap: 20px;
    background: url('./public/graphics/skills-bg-graphic.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.skills .container .skill{
    border: 1px solid rgba(12, 98, 211, 0.781);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.842);
    padding: 30px 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}


/* Projects Section */

.projects h1{
    text-align: center;
}

.projects .container{
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.projects .left,
.blogs .right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.projects .left > img,
.blogs .right > img{
    height: 80%;
    width: auto;
}

.projects .container .right{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

article > h3{
    margin-bottom: 5px;
}

article.project > h3 > a,
article.blog > h3 > a{
    text-decoration: none;
    color: var(--primary);
}

article.project > h3 > a:hover,
article.blog > h3 > a:hover{
    cursor: pointer;
    color: var(--hover);
}